{% extends "admin/base_site.html" %}
{% load i18n admin_urls admin_static admin_list %}

{% block extrastyle %}
  {{ block.super }}
  {% comment %}
  {% if suit %}
  <link rel="stylesheet" type="text/css" href="/static/suit/css/suit.css" media="all">
  {% endif %}
  {% endcomment %}
  {% if not suit %}
    <link rel="stylesheet" type="text/css" href="{% static "admin/css/changelists.css" %}" />
  {% endif %}
  {% if has_filters %}
    <link rel="stylesheet" type="text/css" href="{% static "admin/css/forms.css" %}" />
    <script type="text/javascript" src="{% url 'admin:jsi18n' %}"></script>
    {{ form.media.css }}
  {% endif %}
  <link rel="stylesheet" type="text/css" href="{% static "admin_report/css/reportlist.css" %}"/>
  {{ media.css }}
{% endblock %}

{% block extrahead %}
  {{ block.super }}
  {{ media.js }}
  <script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
  <script>
    jQuery( document ).ready(function() {
    var efectividad = jQuery("#efectividad-value")[0].attributes.value.value.split("%")[0];
    var other = 100 - efectividad;
    var chart = new CanvasJS.Chart("chartContainer1", {
      animationEnabled: true,
      title: {
        text: "Tasa de efectividad"
      },
      data: [{
        type: "pie",
        startAngle: 240,
        yValueFormatString: "##0.00\"%\"",
        indexLabel: "{label} {y}",
        dataPoints: [
          {y: efectividad, label: "Efectividad"},
          {y: other, label: "No existos"},
        ]
      }]
    });
    chart.render();
    });
  </script>
  <script>
    jQuery( document ).ready(function() {
    var efectividad = jQuery("#reclamos-proporcion-value")[0].attributes.value.value.split("%")[0];
    var other = 100 - efectividad;
    var chart = new CanvasJS.Chart("chartContainer2", {
      animationEnabled: true,
      title: {
        text: "Tasa de reclamos"
      },
      data: [{
        type: "pie",
        startAngle: 240,
        yValueFormatString: "##0.00\"%\"",
        indexLabel: "{label} {y}",
        dataPoints: [
          {y: efectividad, label: "Con problemas"},
          {y: other, label: "Normales"},
        ]
      }]
    });
    chart.render();
    });
  </script>
  {% if has_filters %}
    {{ form.media.js }}
  {% endif %}
{% endblock %}

{% block bodyclass %}report{% endblock %}

{% block coltype %}flex{% endblock %}

{% block content %}
  <div id="content-main">
    <div class="inner-center-column">

      {% block title_text %}
        {% if suit %}
          <div id="title" class="title clearfix" style="padding-left:10px;">
            <h3 style="padding:0px;">{{ title }}</h3>
          </div>
        {% endif %}

        <div id="description" class="clerfix" style="padding-left:10px;">
          {% if description %}<p>{{ description }}</p>{% endif %}
          {% if help_text %}<span style="cursor:pointer; color:#295584; text-decoration:underline;" onclick="javascript:$('#help-text').toggle();">See more</span>{% endif %}
        </div>

        <div id="help-text" class="help clearfix" style="display:none; margin-top:5px; margin-bottom:5px; border:1px solid #f9f9f9; background:#fff; padding:10px; ">
          {{ help_text }}
        </div>
      {% endblock %}

      <p>&nbsp;</p>

      <div id="changelist" class="{% if suit %}module-filtered{% else %}toolbar-content module{% endif %}">

        <div id="toolbar" {% if suit %}class="clearfix"{% endif %}>
          {% block search %}
            <form id="report-search" action="" method="get" class="form-inline">
              {% if has_filters %}
                <div>
                  {% spaceless %}
                    <span class="search-filters">
                      {{ form }}
                    </span>
                  {% endspaceless %}
                  <input type="submit" value="{% trans 'Search' %}" class="btn btn-info"/>
                  <a href="{{ export_path }}" class="btn">{% trans 'Export' %}</a>
                  <span class="small quiet result-count">
                    {{ rl.get_result_count }} {% trans 'results' %}
                    <a href="?">{% trans 'Clear query' %}</a>
                  </span>
                </div>
              {% endif %}
            </form>
          {% endblock %}
        </div>

        <div class="results">
          {% block result %}
            {% with "Cotizaciones Usuarios Ofertas Productos Precios Compras Reclamos" as report1 %}
              <table id="result_list" {% if suit %}class="table table-striped table-bordered table-hover table-condensed"{% endif %}>
                <thead>
                  <tr>
                    {% for header in rl.headers %}
                      {% if header.label in report1 %}
                        <th scope="col" {{ header.class_attrib }}>
                          {% if header.sortable %}
                            {% if header.sort_priority > 0 %}
                              {% if suit %}<div class="relative-wrapper">{% endif %}
                                <div class="sortoptions">

                                  {% if rl.num_sorted_fields > 1 %}<span class="sortpriority" title="{% blocktrans with priority_number=header.sort_priority %}Sorting priority: {{ priority_number }}{% endblocktrans %}">{{ header.sort_priority }}</span>{% endif %}

                                  <a href="{{ header.url_toggle }}" class="toggle {% if header.ascending %}ascending{% else %}descending{% endif %}" title="{% trans "Toggle sorting" %}"></a>
                                  <a class="sortremove" href="{{ header.url_remove }}" title="{% trans "Remove from sorting" %}"></a>
                                  {% if suit %}</div>{% endif %}
                              </div>
                            {% endif %}
                          {% endif %}
                          <div class="text">{% if header.sortable %}<a href="{{ header.url_primary }}">{{ header.label|capfirst }}</a>{% else %}<span>{{ header.label|capfirst }}</span>{% endif %}</div>
                          <div class="clear"></div>
                        </th>
                      {% endif %}
                    {% endfor %}
                  </tr>
                </thead>

                {% if totals and totals_on_top %}
                  {% include "admin/report_totals.html" %}
                {% endif %}

                <tbody>
                  {% for result in rl.results %}
                    <tr class="{% cycle 'row1' 'row2' %}">
                      {% for alignment, item in result %}
                        {% if alignment == 'top' %}
                          <td class="{{ alignment }}">{{ item }}</td>
                        {% endif %}
                      {% endfor %}
                    </tr>
                  {% endfor %}
                </tbody>

                {% if totals and not totals_on_top %}
                  {% include "admin/report_totals.html" %}
                {% endif %}
              </table>
            {% endwith %}

            <br>

            <div>
              {% for header in rl.headers %}
                {% if header.label == 'Efectividad' %}
                  <ul>
                    <li>
                      <strong>Tasa de efectividad: </strong>
                      porcentaje de cotizaciones que se convierten en transacciones.
                    </li>
                    {% for result in rl.results %}
                      {% for alignment, item in result %}
                          {% if alignment == 'botom-efectividad' %}
                            <p id="efectividad-value" value="{{item}}">{{ item }}</p>
                          {% endif %}
                        {% endfor %}
                    {% endfor %}
                  </ul>
                {% endif %}

                {% if header.label == 'Duracion' %}
                  <ul>
                    <li>
                      <strong>Duración promedio:</strong>
                      días promedio que dura una cotización.
                    </li>
                    {% for result in rl.results %}
                      {% for alignment, item in result %}
                          {% if alignment == 'botom-duracion' %}
                            <p>{{ item }} días</p>
                          {% endif %}
                        {% endfor %}
                    {% endfor %}
                  </ul>
                {% endif %}

                {% if header.label == 'Conversion' %}
                  <ul>
                    <li>
                      <strong>Conversión: </strong>
                      días promedio hasta que se concreta la transacción.
                    </li>
                    {% for result in rl.results %}
                      {% for alignment, item in result %}
                          {% if alignment == 'botom-conversion' %}
                            <p>{{ item }} días</p>
                          {% endif %}
                        {% endfor %}
                    {% endfor %}
                  </ul>
                {% endif %}

                {% if header.label == 'Reclamos Proporcion' %}
                  <ul>
                    <li>
                      <strong>Tasa de reclamos:</strong>
                      porcentaje de compras que tienen problemas.
                    </li>
                    {% for result in rl.results %}
                      {% for alignment, item in result %}
                          {% if alignment == 'botom-reclamos-proporcion' %}
                            <p id="reclamos-proporcion-value" value="{{item}}">{{ item }}</p>
                          {% endif %}
                        {% endfor %}
                    {% endfor %}
                  </ul>
                {% endif %}
              {% endfor %}
            </div>

            <div id="chartContainer1" style="height: 370px; width: 100%;"></div>
            <br>
            <div id="chartContainer2" style="height: 370px; width: 100%;"></div>
            
          {% endblock %}
        </div>

        {% block pagination %}{% pagination rl %}{% endblock %}

      </div>
    </div>
  </div>
{% endblock %}
